<div class="row" id="body-row">

  <section>
    <app-side-nav></app-side-nav>
  </section>

  <!-- MAIN -->
  <div class="col">

    <div class="row page-margin">
      <div>
        <h4>USER PROFILE</h4>
      </div>

      <div class="col">
        <div class="float-right"><a href="#">List</a></div>
      </div>

    </div>

    <div class="page-button page-margin">

      <button type="submit" class="btn btn-primary btn-space">Save</button>
      <button type="button" class="btn btn-secondary">Cancel</button>

    </div>

    <div class="section-bar page-margin">
      <h6>Primary Information</h6>
    </div>

    <div class="card page-margin">

      <div class="card-body">

       
      </div>
    </div>










  </div><!-- Main Col END -->


</div><!-- body-row END -->
