/* You can add global styles to this file, and also import other style files */
.btn-space {
  margin-right: 5px;
}

.btn-submit {
  background-color: blue;
  color: white;
}

.inputfield {
  height: 30px
}

.page-margin{
    margin: 20px;
}

.section-bar {
    padding-top: 5px;
    padding-left: 10px;
    display: flex;
    background-color: lightgray; 
    color: black;
  }